volumes:
  db_data:
  redis:
  superset_home:

networks:
  superset_net:

x-common: &common
  image: celine-eu/superset:latest
  env_file:
    - path: ./config/superset/.env
      required: true
    - path: ./config/superset/.env-local
      required: false
  build:
    context: .
    dockerfile: Dockerfile
  networks:
    - superset_net
  extra_hosts:
    - "keycloak.celine.localhost:172.17.0.1"
  user: "root"
  volumes:
    - ./config/superset:/app/docker
    - ./packages:/packages
    - superset_home:/app/superset_home

services:
  superset:
    <<: *common

    ## PROD
    # command: ["/app/docker/superset-bootstrap.sh", "app-gunicorn"]

    ## DEV
    command: ["/app/docker/superset-bootstrap.sh", "app"]

    # command: ["sleep", "infinity"]
    # tty: true
    # stdin_open: true

    restart: unless-stopped
    depends_on:
      superset-init:
        condition: service_completed_successfully

  superset-init:
    <<: *common
    command: ["/app/docker/superset-setup.sh"]
    depends_on:
      db:
        condition: service_started
      redis:
        condition: service_started
    healthcheck:
      disable: true

  superset-worker:
    <<: *common
    command: ["/app/docker/superset-bootstrap.sh", "worker"]
    restart: unless-stopped
    depends_on:
      superset-init:
        condition: service_completed_successfully
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "celery -A superset.tasks.celery_app:app inspect ping -d celery@$$HOSTNAME",
        ]

  superset-worker-beat:
    <<: *common
    command: ["/app/docker/superset-bootstrap.sh", "beat"]
    restart: unless-stopped
    depends_on:
      superset-init:
        condition: service_completed_successfully
    healthcheck:
      disable: true

  db:
    image: postgres:17.4
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./config/postgres/init:/docker-entrypoint-initdb.d:ro
    networks:
      - superset_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - 5432:5432

  redis:
    image: redis:7.2-bookworm
    networks:
      - superset_net
    restart: unless-stopped
    volumes:
      - redis:/data
    # Redis is limited to 7.2-bookworm due to licencing change
    # https://redis.io/blog/redis-adopts-dual-source-available-licensing/
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 30s
      retries: 50
      start_period: 30s

  keycloak:
    # Keycloak is an open-source identity and access management solution.
    image: quay.io/keycloak/keycloak:26.4.0
    command: start-dev --import-realm
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak

      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin

      KC_HTTP_ENABLED: "true"
      KC_HTTP_PORT: 80
      KC_HEALTH_ENABLED: "true"

      KC_HOSTNAME: keycloak.celine.localhost
      KC_HOSTNAME_BACKCHANNEL_DYNAMIC: "false"
      KC_HOSTNAME_STRICT: "false"

      KC_PROXY: edge
      KC_PROXY_HEADERS: forwarded
    volumes:
      - ./config/keycloak/import:/opt/keycloak/data/import:ro
    networks:
      - superset_net
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "exec 3<>/dev/tcp/localhost/9000"]
      interval: 5s
      timeout: 5s
      retries: 15

  oauth2-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.11.0
    restart: unless-stopped
    command:
      - "--config=/etc/oauth2-proxy/oauth2-proxy.cfg"
    volumes:
      - ./config/oauth2-proxy/oauth2-proxy.cfg:/etc/oauth2-proxy/oauth2-proxy.cfg:ro
    networks:
      - superset_net
    depends_on:
      keycloak:
        condition: service_healthy
    extra_hosts:
      - "keycloak.celine.localhost:172.17.0.1"

  caddy:
    image: caddy:2.8
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./config/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
    networks:
      - superset_net
    depends_on:
      oauth2-proxy:
        condition: service_started
      keycloak:
        condition: service_healthy

  jupyter:
    image: ghcr.io/celine-eu/jupyter:latest
    build:
      dockerfile: Dockerfile.jupyter
    volumes:
      - ./config/jupyter/jupyterhub_config.py:/srv/jupyterhub/jupyterhub_config.py
      - ./packages/jupyter_jwt_auth:/opt/jwt_auth
      - ./data/notebooks:/home/jovyan/notebooks
    restart: unless-stopped
    networks:
      - superset_net
    extra_hosts:
      - "keycloak.celine.localhost:172.17.0.1"
